.nav {
  margin-top: 5px;
  margin-bottom: -5px;
}

.nav-item {
  margin-left: 8px;
}

.home {
  font-size: 20pt;
  margin-left: 5px;
  color: #ffffff;
  text-decoration: none;
}

.header {
  margin-top: 15px;
  margin-right: 500px;
  margin-left: 500px;
}

.main-nav {
  display: flex;
}

.push {
  margin-left: auto;
}

.home {
  font-size: 20pt;
}

.container {
  margin-left: 490px;
}

.col1 {
  width: 70px;
  height: 300px;
  border: 1px solid;
  color: #000000;
  margin-right: 5px;
}

.col2 {
  width: 650px;
  height: 800px;
  border: 1px solid;
  color: #000000;
  margin-right: 5px;
}

.col3 {
  width: 205px;
  height: 500px;
  border: 1px solid;
  color: #000000;
}
