.header {
  margin-top: 15px;
  margin-right: 500px;
  margin-left: 500px;
}

.main-nav {
  display: flex;
}

.push {
  margin-left: auto;
}

.home {
  font-size: 20pt;
  margin-left: 5px;
  color: #ffffff;
  text-decoration: none;
}

.info {
  width: 400px;
  height: 100px;
  border: 1px solid;
  color: #000000;
  display: inline-block;
  margin-left: 750px;
}

.bio {
  width: 700px;
  height: 100px;
  border: 1px solid;
  color: #000000;
  display: inline-block;
  margin-left: 600px;
  margin-top: 5px;
}

.links {
  width: 300px;
  height: 30px;
  border: 1px solid;
  color: #000000;
  display: inline-block;
  margin-left: 800px;
  margin-top: 5px;
}

.pages {
  width: 300px;
  height: 30px;
  border: 1px solid;
  color: #000000;
  display: inline-block;
  margin-left: 800px;
  margin-top: 5px;
}

.post {
  width: 700px;
  height: 800px;
  border: 1px solid;
  color: #000000;
  display: inline-block;
  margin-left: 600px;
  margin-top: 5px;
}

.card {
  margin-left: 675px;
}
